<%- include('../includes/head.ejs')%>
<%- include('../includes/navigation.ejs')%>

<div class="modal" id="modal-normal" tabindex="-1" role="dialog" aria-labelledby="modal-normal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title">Editar solicitudes</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="si si-close"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content">
                    <form action="be_forms_elements_material.html" method="post" onsubmit="return false;">
                        <div class="form-group row">
                            <div class="col-md-9">
                                <div class="form-material floating">
                                    <input type="text" class="form-control" id="material-text2" name="material-text2">
                                    <label for="material-text2">Username</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-9">
                                <div class="form-material floating">
                                    <input type="password" class="form-control" id="material-password2"
                                        name="material-password2">
                                    <label for="material-password2">Password</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <div class="form-material floating">
                                    <input type="email" class="form-control" id="material-email2"
                                        name="material-email2">
                                    <label for="material-email2">Email</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <div class="form-material floating">
                                    <input type="text" class="form-control" id="material-gridf2" name="material-gridf2">
                                    <label for="material-gridf2">Grid Input</label>
                                </div>
                            </div>
                            <div class="col-6 row">
                                <div class="form-material floating">
                                    <input type="text" class="form-control" id="material-gridl2" name="material-gridl2">
                                    <label for="material-gridl2">Grid Input</label>
                                </div>
                            </div>
                        </div>



                        <!-- AREA SELECT -->
                        <div class="form-group row">
                            <div class="col-md-9">
                                <div class="form-material floating">
                                    <select class="form-control" id="idArea" name="idArea">
                                        <option value="" disabled selected>Seleccionar area</option>
                                        <% for (area of areas) { %>
                                        <option value=" <%=area.idArea%>"><%=area.NombreArea%></option>
                                        <%} %>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- DESCRIPCION TEXTAREA -->

                        <div class="form-group row">
                            <div class="col-12">
                                <div class="form-material floating">
                                    <textarea class="form-control" id="Descripcion" name="Descripcion"
                                        rows="8"></textarea>
                                    <label for="Descripcion">Descripcion</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-9">
                                <button type="submit" class="btn btn-alt-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-alt-success" data-dismiss="modal">
                    <i class="fa fa-check"></i> Perfect
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END Normal Modal -->

<%- include('../includes/end.ejs') %>